#ignorar archivos

package-lock.json
package.json

#ignorar directorios

/node_modules

#ignorar archivos con extension dentro de un directorio

/public/js/*.js

#ignorar parte del contenido de un directorio

/public/css/bootstrap.min.css

#todo un directorio excepto algunos

!/public/js/cerrars.js
!/public/js/regproducto.js
!/public/js/script.js

#una carpeta dentro de un directorio

/public/css/**/*.css

!/public/css/styles.css



